### Load libraries

*External dependencies*:

psycopg2: pip install psycopg2-binary

*ALeRCE dependencies*:

ztf_pipeline
xmatches
VariableCatalogs
turbo-fats

In [1]:
import pandas
import numpy as np
from ztf_pipeline.db import DBClient

Get credentials (not from github repository!)

In [2]:
import json
credentials_file = "../alerceuser.json"
with open(credentials_file) as jsonfile:
    params = json.load(jsonfile)["params"]

DB Client

In [3]:
#DBClient
client = DBClient(params)
client.connect()

Query data

In [4]:
query = "select * from detections limit 100"
client.execute(query)
result = client.fetchall()
client.close()

Convert to dataframe

In [5]:
df = pandas.DataFrame(np.array(result))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,733238880515015007,ZTF19aaajgnp,58487.2,2,20.3903,20.1666,20.2763,0.178804,0.3354,74.356,...,560,5,21.948,0.256,0.66,20.1666,20.2763,0.178804,0.3354,None
1,733238424515015031,ZTF19aaajgnq,58487.2,2,20.4814,13.7566,13.7642,0.020857,0.0021,68.1755,...,509,45,22.595,0.356,0.83,13.7566,13.7642,0.020857,0.0021,None
2,733238424515015011,ZTF19aaajgnr,58487.2,2,20.4814,18.0916,18.0813,0.0639613,0.0446,67.9777,...,509,45,22.705,0.342,0.863333,18.0916,18.0813,0.0639613,0.0446,None
3,733238424515015010,ZTF19aaajgns,58487.2,2,20.4814,18.7856,18.7934,0.0843548,0.084,68.4177,...,509,45,22.72,0.294,0.81,18.7856,18.7934,0.0843548,0.084,None
4,733238424515015027,ZTF19aaajgnt,58487.2,2,20.4814,18.7016,18.9149,0.0783295,0.0938,68.3114,...,509,45,20.067,0.034,0.853333,18.7016,18.9149,0.0783295,0.0938,None

In [7]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
count,100,100,100.000000,100,100.000000,100.000000,100.0000,100.000000,100.0000,100.000000,...,100,100,100.000000,100.000,100.000000,100.000000,100.0000,100.000000,100.0000,0.0
unique,100,100,2.000000,1,10.000000,100.000000,100.0000,99.000000,98.0000,100.000000,...,2,10,99.000000,81.000,75.000000,100.000000,100.0000,99.000000,98.0000,0.0
top,733238426215015025,ZTF19aaajgnz,58487.238426,2,20.481434,20.133629,20.2952,0.207069,0.1816,72.339275,...,509,45,22.417999,0.017,0.736667,20.133629,20.2952,0.207069,0.1816,NaN
freq,1,1,89.000000,100,16.000000,1.000000,1.0000,2.000000,2.0000,1.000000,...,89,16,2.000000,4.000,5.000000,1.000000,1.0000,2.000000,2.0000,NaN